/* with this sudo selector we create a ghost element to fix navbar spacing */
body::before {
  display: block;
  content: "";
  height: 60px;
}

/* mapbox adjustments */
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* adjust the width of the input from this breakpoint up */
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
